*{
  margin: 0;
  padding: 0;
}
:root{
  --cor-primaria: #3D3B40;
  --cor-secundaria: #525CEB;
  --cor-terciaria: #BFCFE7;
  --cor-quartenaria: #F8EDFF;
}
body{
  box-sizing: border-box;
  background-color: var(--cor-primaria);
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container__tabela{
  border: 2px solid var(--cor-quartenaria);

  
}
.container__tabela__titulo{
  color: var(--cor-secundaria);
  background-color: var(--cor-terciaria);
  
  padding: 1rem;
  font-weight: 800;

}

.container__tabela__conteudo{
  width: 100%;
  color: var(--cor-quartenaria);
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1.25rem;
} 
